/* common css  start*/

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

a {
  transition: all .3s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.clr {
  clear: both;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
label{
  margin-top: 0;
  margin-bottom: 0px;    
}

html {
  scroll-behavior: smooth;
}

a:link{
  text-decoration: none;
  color:#059377;
}
a:link:hover{
  color:#13705e;
}

/* #059377 --optional color */
.header{
  font-size: 30px;
  color: #059377;
  font-family: 'Roboto', sans-serif;
  /* text-transform: uppercase; */
}

.form-header{
  font-size: 30px;
  color: #059377;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.sub-header{
  color: rgb(35, 33, 33);
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}


.submit-btn{
  height:40px;
  width: 50%;
  border: 2px solid #059377;
  border-radius: 10px;
  outline: none;
  color:white;
  background-color: #059377;
  font-family: 'Roboto', sans-serif;
}

.submit-btn:hover{
  color:#059377;
  background-color: white;
  transition: .5s;
}
/* common css end */
.search-box{
  height: 40px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  border-radius: 30px;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.search-box:hover input{
  width: 400px;
}

.search-box input{
  width:0;
  outline: none;
  border:none;
  font-weight: 500;
  transition:.8s;
  background: transparent;
}
.search-box button{
  background: none;
  border: none;
}
.search-box button i{
  color:#059377;
  font-size: 16px;
}
.search-box a i{
  color:#059377;
  font-size: 16px;
}

.main-formbg{
  padding-top: 80px;
  padding-bottom: 80px;
  /* background-color:rgb(184, 184, 184); */

}

.form-bg{
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(78, 82, 87, 0.2) 0px 8px 24px;
}

.form{
  padding-left: 5%;
  padding-right: 5%;
}

.line{
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}

.icon-btn{
  border: 1px solid #059377;
  border-radius: 50%;
  background: #059377;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color:#fff;
}

.icon-btn:hover{
  transition: .5s;
  background-color: #fff;
  color:#059377;
}

/* navbar */
.navbar{
  box-shadow: rgba(78, 82, 87, 0.2) 0px 8px 24px;
}

.nav-link{
  font-size: 20px;
  color: #13705e !important;
  font-variant: 500;
  text-transform: capitalize;
}

.navbar .navbar-brand{
  color: #13705e; 
  font-weight: 600;
  font-size: 24px;
}

.navbar .navbar-brand:hover{
  font-size: 25px;
  color: #13705e;
  transition: 0.5s;
}


/* home page banner */
#banner-bg{
  width: 100%;
  padding-top: 220px;
  padding-bottom: 220px;
  background: url(../images/banner-bg2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Shop */

#shop-bg{
  padding-top: 100px;
  padding-bottom: 100px;
}

.card-body{
  padding: 0 !important;
}

.product-card img{
  height: 350px;
  width: auto;
}

.product-card .price{
  display:inline-block;
}
.product-card .description{
  text-align: left;
}
.product-card input{
  width: 100%;
  height: 30px;
}

/* quantity input */

.inc_dec{
  display: flex;
  background-color: #fff;
  border: 2px solid  #13705dc8;
}

#quantity{
  border: none;
  text-align: center;
  font-size: 20px;
  color:#059377;
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; 
}


/* problem here with allignment cant take it right */
.product-card .quantity{
  margin-left: 40%;
  padding-left: 5px;
  border-radius: 5px;
  
}

.add-product-btn{
  height: 40px;
  width: 70%;
  border: 2px solid #059377;
  border-radius: 10px;
  outline: none;
  color:white;
  background-color: #059377;
  font-family: 'Roboto', sans-serif;
}

.add-product-btn:hover{
  color:#059377;
  background-color: white;
  transition: .5s;
}


table th td {
  text-align: center;
}

.fabs {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.action {
  background: rgb(41, 189, 164);
  padding: 30px;
  border-radius: 15px;
  transition: background-color 0.5s ease-in-out;
}

.action i {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  cursor: pointer;
}

.action:hover {
  background-color: #EFD39D;
}
