/* common css  start*/

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

a {
  transition: all 0.3s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.clr {
  clear: both;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
label {
  margin-top: 0;
  margin-bottom: 0px;
}

html {
  scroll-behavior: smooth;
}

a:link {
  color: #059377;
}
a:link:hover {
  color: #13705e;
}

/* #059377 --optional color */
.header {
  font-size: 32px;
  color: #059377;
  font-family: "Roboto", sans-serif;
  /* text-transform: uppercase; */
}

.form-header {
  font-size: 32px;
  color: #059377;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.sub-header {
  color: rgb(35, 33, 33);
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.submit-btn {
  height: 40px;
  width: 50%;
  border: 2px solid #059377;
  border-radius: 10px;
  outline: none;
  color: white;
  background-color: #059377;
  font-family: "Roboto", sans-serif;
}

.submit-btn:hover {
  color: #059377;
  background-color: white;
  transition: 0.5s;
}
/* common css end */
.main-formbg {
  padding-top: 80px;
  padding-bottom: 80px;
  /* background-color:rgb(184, 184, 184); */
}

.form-bg {
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(78, 82, 87, 0.2) 0px 8px 24px;
}
.form {
  padding-left: 5%;
  padding-right: 5%;
}
.line {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}
.icon-btn {
  border: 1px solid #059377;
  border-radius: 50%;
  background: #059377;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

.icon-btn:hover {
  transition: 0.5s;
  background-color: #fff;
  color: #059377;
}

/* navbar */
.navbar {
  box-shadow: rgba(78, 82, 87, 0.2) 0px 8px 24px;
}
.nav-link {
  font-size: 20px;
  color: #13705e !important;
  font-variant: 500;
  text-transform: capitalize;
}
.navbar .navbar-brand {
  color: #13705e;
  font-weight: 600;
  font-size: 24px;
}
.navbar .navbar-brand:hover {
  font-size: 25px;
  color: #13705e;
  transition: 0.5s;
}

/* home page banner */
#banner-bg {
  width: 100%;
  padding-top: 220px;
  padding-bottom: 220px;
  background: url(../images/banner-bg2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Shop */

#shop-bg {
  padding-top: 100px;
  padding-bottom: 100px;
}

.card-body {
  padding: 0 !important;
}

.product-card img {
  height: 350px;
  width: auto;
}

.product-card .price {
  display: inline-block;
}
.product-card .description {
  text-align: left;
}
.product-card input {
  width: 40%;
  height: 30px;
}

/* problem here with allignment cant take it right */
.product-card .quantity {
  margin-left: 40%;
  padding-left: 5px;
  border-radius: 5px;
}

.add-product-btn {
  height: 40px;
  width: 70%;
  border: 2px solid #059377;
  border-radius: 10px;
  outline: none;
  color: white;
  background-color: #059377;
  font-family: "Roboto", sans-serif;
}

.add-product-btn:hover {
  color: #059377;
  background-color: white;
  transition: 0.5s;
}

.cart-row {
  margin-top: 100px;
}

.cart-row .header {
  margin-bottom: 50px;
}

table th td {
  text-align: center;
}

.fabs {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.action {
  background: rgb(41, 189, 164);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 5px 7px 0px gray;
  transition: background-color 0.4s ease-in-out;
}

.action i {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  cursor: pointer;
}

.action:hover {
  background-color: rgb(218, 203, 210);
}
